<?xml version='1.0' encoding='utf-8'?>
<widget id="com.babyloos.subsim" version="1.0.0" xmlns="http://www.w3.org/ns/widgets" xmlns:cdv="http://cordova.apache.org/ns/1.0">
  <name>SubmarineSimulator3D</name>
    <description>ww2 german submarin simlator</description>
    <author email="babyloos2501@gmail.com" href="">
      katsushi kuroki
    </author>
    <content src="index.html" />
    <access origin="*" />
    <allow-navigation href="*" />
    <allow-intent href="http://*/*" />
    <allow-intent href="https://*/*" />
    <preference name="AllowInlineMediaPlayback" value="true" />
    <preference name="Orientation" value="landscape" />
    <preference name="scheme" value="app" />
    <preference name="hostname" value="localhost" />
    <platform name="ios">
      <preference name="WKWebViewOnly" value="true" />
      <feature name="CDVWKWebViewEngine">
        <param name="ios-package" value="CDVWKWebViewEngine" />
      </feature>
      <preference name="CordovaWebViewEngine" value="CDVWKWebViewEngine" />
      <preference name="allowFileAccessFromFileURLs" value="true" />
      <preference name="allowUniversalAccessFromFileURLs" value="true" />
    </platform>
    <platform name="android">
        <preference name="android-targetSdkVersion" value="31" />
    </platform>
</widget>
